<%- include("header") -%>


    <title>Delete from Ledger</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet" />
  </head>

  <body class="text-center formBody">
      
      <form class="form-signin" method="post" action="/deleteLedger">
        <img class="mb-4" src="/images/logo.png" alt="" width="200" height="200" />
        <div
          class="status alert alert-success"
          style="display: <%= display %>; max-width: 250px; margin: auto"
        >
          Deleted Successfully...
        </div>
      <h1 class="h3 mb-3 font-weight-bold">Delete from Ledger</h1>

      <select name="name" class="dp">
        <% let i=0; data.bills.forEach(bill => { i++;%>
        <option value="<%= bill.name %>"><%= i %>. <%= bill.name %></option>
        <% }) %>
      </select>
      <input type="hidden" name="authCode" value="<%= authCode %>" />
      <button class="btn btn-lg btn-danger btn-block" type="submit">
        Delete
      </button>
    </form>
    <div class="mgtop"></div>
    <div class="mgtop"></div>
    <%- include("footer") -%>